.card {
  display: flex;
  flex-direction: column; /* Stack icon, title, and description vertically */
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  color: #3b4c5f;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: calc(25% - 20px); /* Adjust width for rectangular appearance */
  height: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effect */
}

.card:hover {
  background-color: #cd9779;
  transform: scale(1.08); /* Increase card size on hover */
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 18px;
  text-align: center;
  margin: 5px 0;
  color: #3b4c5f;
}

.card-description {
  font-size: 14px;
  text-align: center;
  color: #5b5b5b;
}
