.alumni-section,
.students-section {
  background-color: rgb(255, 237, 213);
  padding: 40px 20px;
  color: rgb(154, 52, 18);
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
}

.welcome-section {
  background-image: url("../media/background.webp");
  background-size: cover;
  background-position: center;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.welcome-section h1 {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 15px;
}

.welcome-section p {
  font-size: 25px;
  margin-bottom: 20px;
}

.join-button {
  background-color: #7c2d12;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.join-button:hover {
  background-color: #5b1e0e;
}

.carousel {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.card-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  /* overflow: hidden; */
}

.carousel-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}

.carousel-button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.full-screen-grid {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px !important;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 80%;
  max-width: 1200px;
  margin-top: 30px;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-weight: bold;
  color: #c45a12;
}

/* Card Styles */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgb(254, 215, 170);
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: calc(25% - 20px);
  height: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
}

.card:hover:not(.disabled) {
  background-color: #cd9779;
  transform: scale(1.08);
}

.cards-grid .card {
  width: 100%;
  height: 250px;
  margin: 0;
  transition: all 0.2s ease;
}

.cards-grid .card:hover:not(.disabled) {
  transform: scale(1.05);
}

.card.disabled {
  cursor: not-allowed;
  /* opacity: 0.7; */
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
  color: rgb(154, 52, 18);
}

.card-title {
  font-size: 18px;
  text-align: center;
  margin: 5px 0;
  color: rgb(194, 65, 12);
}

.card-description {
  font-size: 14px;
  text-align: center;
  color: rgb(154, 52, 18);
}

.tooltip {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 4px;
  font-size: 0.8rem;
  position: fixed;
  z-index: 1000;
  white-space: nowrap;
}

 .full-screen-grid{
  background-image: url("../media/gra.jpg");;
 }
/* Responsive Design */
@media (max-width: 768px) {
  .cards-grid {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .card {
    width: calc(100% - 20px);
    margin: 10px 0;
  }

  .welcome-section h1 {
    font-size: 2rem;
  }

  .welcome-section p {
    font-size: 1.1rem;
  }
}
